<% content_for(:head) do %>
  <base href="/redhat_access/"/>
<% end %>
<div ng-app="RedhatAccess">
  <div ui-view autoscroll="false"></div>
</div>
<%= stylesheet_link_tag 'redhat_access/application'%>
<%= javascript_include_tag 'redhat_access/application' %>
<%= javascript_tag do %>
  angular.module('RedhatAccess').value('currentLocale', '<%= (I18n.locale)[0..1] %>');
  strata.setPortalHostname('<%=  REDHAT_ACCESS_CONFIG[:strata_host] %>');
  strata.setRedhatClientID('<%=  "foreman_plugin_#{REDHAT_ACCESS_CONFIG[:deployment]}_#{RedhatAccess::VERSION}" %>');
<% end %>
