<h4 class="header">
  <%= _("Red Hat Insights Actions") %>
</h4>
<% helper = RedhatAccess::Telemetry::Helper.new %>
<% if !Organization.current.present? %>
    <p class="ca"><%= _("Please select an organization to view Red Hat Insights action summary.") %></p>
<% elsif !helper.telemetry_enabled?(Organization.current) %>
    <p class="ca"><%= _("Insights functionality is disabled.") %></p>
<% elsif !helper.is_susbcribed_to_redhat?(Organization.current) %>
    <p class="ca"><%= _("Insights data not available.") %></p>
<% elsif helper.disconnected_org?(Organization.current) %>
    <p class="ca"><%= _("Insights data is not available for disconnected environments.") %></p>
<% else %>

    <% api = RedhatAccess::Telemetry::MessagingService.new(Organization.current) %>
    <% data = api.rules_stat_summary %>
    <% if data.query_error %>
        <p class="ca"><%= _("There was an error retrieving Insights data:") %></p>
        <p class="ca"><%= data.query_error %></p>
    <% else %>
        <table class="table table-fixed table-striped table-bordered">
          <thead>
          <tr>
            <th><%= _("Category") %></th>
            <th><%= _("Number of Actions") %></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= link_to("#{ _("Availability")}", '/redhat_access/insights/actions/availability')%> </td>
            <td style="text-align:right;"><%= link_to("#{data.availability}", '/redhat_access/insights/actions/availability')%> </td>
          </tr>
          <tr>
            <td><%= link_to("#{ _("Stability")}", '/redhat_access/insights/actions/stability')%> </td>
            <td style="text-align:right;"><%= link_to("#{data.stability}", '/redhat_access/insights/actions/stability')%> </td>
          </tr>
          <tr>
            <td><%= link_to("#{ _("Performance")}", '/redhat_access/insights/actions/performance')%> </td>
            <td style="text-align:right;"><%= link_to("#{data.performance}", '/redhat_access/insights/actions/performance')%> </td>
          </tr>
          <tr>
            <td><%= link_to("#{ _("Security")}", '/redhat_access/insights/actions/security')%> </td>
            <td style="text-align:right;"><%= link_to("#{data.security}", '/redhat_access/insights/actions/security')%> </td>
          </tr>
          <tr>
            <td><h4><%= _("Total") %></h4></td>
            <td style="text-align:right;"><%= data.total %></td>
          </tr>
          </tbody>
        </table>
    <% end %>
<% end %>